<!DOCTYPE html>
<html>
<head>
	<title>Dojo survey</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <div id="wrapper">
    <h1>Welcome to Quoting Dojo</h1>
    <form method="post" name="qd" id="qd" action="/quotes">
      <p>Your Name: <input type="text" name="name" id="name"/></p>
      <p>Your quote: <input type="text" name="quote" id="quote"/></p>
      <p><input type="submit" value="Add my quote!" name="submit" />    <a href ="/quotes">Skip to quotes</a>
</p>
    </form>
  </div>
</body>
</html>
