<!DOCTYPE html>
<html>
<head>
	<title>Dojo survey</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <div id="wrapper">
    <h1>Here are some awesome quotes!</h1>
    <a href="/">Home</a>
  <% for (var quote of quotes) { %>
    <h3>Author: <%= quote.name %></h3>
    <p>Quote: <%= quote.quote %></p>
  <% } %>
  </div>
</body>
</html>
