<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Cars and Cats</title>
</head>
<body>

  <img src="/images/orange.jpg" alt="orange car" />
  <img src="/images/green.jpg" alt="green car" />

</body>
</html>
