<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Cars and Cats</title>
</head>
<body>

  <img src="/images/cat1.jpg" alt="cute cat" />
  <img src="/images/cat2.jpg" alt="grey cat" />

</body>
</html>
