<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Counter</title>
</head>
<body>
  <h1>Counter</h1>
  <h2><%= counter %></h2>

  <form method="get" action="/level1">
    <input type="submit" name="submit" value="Reload"/>
  </form>
  <form method="get" action="/reset">
    <input type="submit" name="submit" value="Reset"/>
  </form>
</body>
</html>
