<!DOCTYPE html>
<html>
<head>
	<title>Mongoose dashboard</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <div id="wrapper">
    <form method="post" name="add" id="add" action="/mongooses/<%= mongoose._id %>">
      <p>Mongoose Type: <input type="text" name="type" id="type" value="<%= mongoose.mongoose_type %>"/></p>
      <p>Description: <input type="text" name="desc" id="desc" value="<%= mongoose.desc %>"/></p>
      <p><input type="submit" value="Edit mongoose!" name="submit" /></p>
    </form>
  
  </div>
</body>
</html>
