<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Cars and Cats</title>
</head>
<body>
  <div id ="wrapper">
    <h1 class="header">EJS Cats</h1>
    <div id ="cats">
      <div class ="sub">
        <a href="/persian"><img src="/images/cat1.jpg" alt="cat1" /></a>
      </div>
      <div class ="sub">
        <a href="/bsh"><img src="/images/cat2.jpg" alt="cat2" /></a>
      </div>
    </div>
  </div>
</body>
</html>
