<!DOCTYPE html>
<html>
<head>
	<title>Dojo survey</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div id="wrapper">
		<h2>Submitted Information</h2>
		<p>Name: <%= data.name%></p>
		<p>Dojo Location: <%= data.loc%></p>
		<p>Favorite Language: <%= data.lang%></p>
		<p>Comment: <%= data.comment%></p>

  </div>
</body>
</html>
